project_id                    = "andrei-493614"
bucket_name                   = "andrei-493614-attachments"
location                      = "EU"
runtime_service_account_email = "andrei-vercel@andrei-493614.iam.gserviceaccount.com"

cors_origins = [
  "https://mj.andreihealth.com",
  "https://andrei-v2.vercel.app",
  "https://demo.andreihealth.com",
  "https://andrei-demo.vercel.app",
  "https://andrei-convergent.vercel.app",
  "https://convergent.andreihealth.com",
  "http://localhost:3000",
]

# staging_temp_age_days = 7
